/* =========================
   NAVBAR LAYOUT
========================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;

  padding: 0 20px;
  height: 100px;

  background-color: #111;
  opacity: 100%;
  border-bottom: 2px solid #d4af37;

  animation: navDrop 0.8s ease;
}

/* entrance animation */
@keyframes navDrop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* =========================
   NAV LINKS (BASE STATE)
========================= */
.nav-left a,
.nav-right a {
  position: relative;

  color: white;
  text-decoration: none;

  font-size: 14px;

  transition: 0.3s ease;
}

/* hover underline base */
.nav-left a::after,
.nav-right a::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -6px;

  width: 0%;
  height: 2px;

  background: #d4af37;

  transition: 0.3s ease;
}

/* hover underline active */
.nav-left a:hover::after,
.nav-right a:hover::after {
  width: 100%;
}

/* hover state */
.nav-left a:hover,
.nav-right a:hover {
  color: #d4af37;

  transform: translateY(-1px);

  text-shadow: 0 0 10px rgba(212,175,55,0.4);
}

/* =========================
   ACTIVE LINK STATE
========================= */
.active-link {
  color: #d4af37;
}

.active-link::after {
  width: 100%;

  box-shadow: 0 0 10px rgba(212,175,55,0.6);
}

/* =========================
   NAV SECTIONS
========================= */

/* left */
.nav-left {
  display: flex;
  gap: 20px;
}

/* center logo */
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* right */
.nav-right {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* =========================
   LOGO
========================= */
.logo-img {
  height: 85px;
  width: auto;
  object-fit: contain;

  transition: 0.4s ease;
}

.logo-img:hover {
  transform: scale(1.05) rotate(-1deg);
  filter: drop-shadow(0 0 10px rgba(212,175,55,0.4));
}

/* =========================
   ACTION BUTTONS
========================= */
.logout-btn {
  background: transparent;

  border: 1px solid #d4af37;
  color: #d4af37;

  padding: 6px 12px;

  cursor: pointer;
}

.logout-btn:hover {
  background: #d4af37;
  color: black;
}

.admin-link {
  color: #d4af37;

  text-decoration: none;

  border: 1px solid #ff0000;

  padding: 6px 12px;
  margin-right: 10px;

  font-size: 14px;
}

.admin-link:hover {
  background: #ec2315;
  color: rgb(0, 0, 0);
}

/* =========================
   NAVBAR GLOW EFFECT
========================= */
.navbar::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  height: 2px;
  width: 100%;

  background: linear-gradient(
    90deg,
    transparent,
    #d4af37,
    transparent
  );

  animation: slideGlow 3s linear infinite;
}

@keyframes slideGlow {
  from { transform: translateX(-100%); }
  to   { transform: translateX(100%); }
}